* {
    border: 0;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #324851 !important; 
    transition: background-color 0.3s ease !important; 
    padding: 5px;
    position: relative;
  }
  
  .active {
    color: rgb(130, 175, 45) !important;
  }
  
  .navbar.scrolled {
    background-color: #324851 !important; 
  }
  
  .logo-clinica {
    width: 160px;   
    filter: contrast(600%);
  }
  
  .logo-clinica:hover {
    opacity: .3;
    transition: all 0.5s ease !important;
    cursor: pointer;
  }
  
  .navbar-toggler {
    border: 1px solid rgb(129, 126, 126);
    background-color: #324851e1;
  }
  
  .navbar-toggler-icon {
    filter: invert();
  }
  
  .offcanvas {
    width: 350px !important;
  }
  
  .offcanvas-header {
    background-color: #324851;
    color: white;
  }
  
  .navbar-nav {
    gap: 20px;
    font-size: 20px;
  }
  
  .nav-item {
    border-bottom: 1px solid #324851e7 !important;
  }
  

  @media screen and (min-width: 992px) {
    .nav-item {
        border: none !important;
    }
  
    .nav-link {
        color: rgb(255, 255, 255) !important;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
    }
  
    .nav-link:hover {
        color: greenyellow !important;
        transition: all 0.5s ease !important;
        cursor: pointer;
    }
  
    .navbar-nav {
        font-size: 16px;
    }
  
    .dropdown-menu {
        background-color: #324851 !important;
        width: 170px;
    }
  
  }  
  
.doctorPanel {
    margin-top: 10px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoDelDoc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 12px 24px 1px #d4e0ec;
    padding: 20px;
    gap: 20px;
}

/*****PAGINA ADMIN PACIENTE*****/

.contenedorTurnos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 90%;
    margin: 50px auto;
}

.contenedorVerTurnos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.contenedorVerTurnos table{
    width: 100%;
}

  /*****PAGINA ADMIN PACIENTE FORMULARIO CREAR TURNOS*****/

.contenedorCrearTurno h2 {
    text-align: center;
}

#formularioTurno {
    padding: 20px;
    box-shadow: 0 12px 24px 1px #d4e0ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#formularioTurno label {
    font-weight: bold;
}

#formularioTurno input {
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 30px;
    padding: 5px;
}

#formularioTurno select {
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 30px;
    padding: 5px;
}

table {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.158);
  }

tr th {
    background-color: #f2f2f2;
    text-align: center;
  }

tr td {
    border: 1px solid rgba(0, 0, 0, 0.158);
    padding: 8px;
    text-align: left;;
  }

/* CSS para dispositivos móviles */
@media screen and (max-width: 700px) {
    table {
      width: 90%; /* Ajustar la tabla al ancho del contenedor */
      font-size: 0.7em; /* Reducir el tamaño del texto en la tabla */
    }
  
    tr td {
      padding: 4px; /* Reducir el espacio interno de las celdas */
    }
  }


  /*****FOOTER FABIAN*****/

  .pie-pagina{
    width: 100%;
    bottom: 0;
    background-color: #324851;  
  }
  
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 100px 0px;
  }
  
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  
  .pie-pagina .grupo-1 .box figure img{
    width: 200px;
  }
  
  
  .pie-pagina .grupo-1 .box h2{
    color: #9bca42;
    margin-bottom: 25px;
    font-size: 30px;
    text-align: center;
  }
  
  .pie-pagina .grupo-1 .box p{
    color: white;
    margin-bottom: 10px;
    text-align:left;
  }
  
  .pie-pagina .grupo-1 .box{
    color: white;
  }
  
  .pie-pagina .grupo-1 .box a{
    text-decoration: none;
    color: white;
    transition: all 300ms ease;
  }
  
  .pie-pagina .grupo-1 .box a:hover{
    color: #86ac41;
  }
  
  .pie-pagina .grupo-1 .redsocial a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    transition: all 300ms ease;
  }
  
  /*sirve para que al pasar el cursor sobre los iconos de la red social se muestren de color*/
  .pie-pagina .grupo-1 .redsocial a:hover{
    color: #86ac41;
  }
  
  /*sirve para poner color de fondo, separar del margen, centrar el texto, y poner color a las letras, de la ultima parte del footer*/
  .pie-pagina .grupo-2{
    background-color: #7da3a1;
    padding: 15px 10px;
    text-align: center;
    color: white;
  }
  
  /*sirve para aumentar el tamaño de las ultimas letras*/
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }
  
  /*sirve para poner las 4 columnas del footer*/
  @media only screen and (min-width:1200px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
  }
  
  @media only screen and (max-width:1080px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
  }
  
  /*sirve para poner las 2 columnas del footer*/
  @media only screen and (max-width:900px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
  }
  
  /*sirve para poner las 1 columnas del footer*/
  @media only screen and (max-width:600px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
  }
  
  /*****FIN DEL FOOTER FABIAN*****/