body{
    margin: 0;
    background-color: rgb(241, 235, 235);
    font-family: "Roboto Condensed", sans-serif;
}
/*****HEADER*****/

.navbar {
    border: 1px solid rgb(225, 226, 235);
    padding: 0;
    position: relative;
}

.offcanvas {
    width: 330px !important; /*Para que al abrir el menu en responsive no ocupe todo el ancho*/
}

.logo-clinica {
    width: 150px;
}

/*Fin header y navbar*/


h2{
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 0;
    font-size: 9vh;
    color: #324851;
}

/*Mis turnos*/

.misTurnos-tit{
    margin-top: 15vh;
}
/*Fin Mis turnos*/


/*EStilos Nvo Turno*/
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #324851;
    margin-top: 2vh;
    background-color:  #fff;
    padding: auto;
    border-radius: 2vh;
}
.container-fluid{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}
.summit-NvoTurno{
    border-radius: 2VH;
    background-color: #86ac41;
    color: #34675c;
    width:20vh;
    height: 6vh;
    font-size: 4vh;
    display: grid;
    align-items: center;
    text-decoration: none;
    border: none;
    position: absolute;
    margin-bottom: 4vh;
}

.summit-NvoTurno:hover{
    color:rgb(241, 235, 235);
    scale: 1.1;
}



/*FinEStilos Nvo Turno*/

/*estilos calentario*/

.calendario{
    width: 100%;
    color:#86ac41;
}

.calendario-info{
    display: flex;
    align-items: center;
    font-size:6vh;
    cursor: pointer;

}

.calendario-retro{
    margin-right: auto;
    padding: 2vh;
    
}

.calendario-sig{
    margin-left: auto;
    padding: 2vh;
}

.semana-calendario, .calendar__dates {
    color: #324851;
    font-size: 4vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.semana-calendario{
    padding-left: 3vh;
}

.calendar__item{
    padding-left: 3vh;
}

.calendar__today{
    background-color: #86ac41;
    width: 5vh;
    border-radius: 40vh;
    padding-left: 1vh;
}


/*media quries*/
@media (max-width: 735px){

    .semana-calendario{
        font-size: 3vh;
        text-align: center;
    }
    .flex-container{
        display: grid;
        width: 80%;
    }
}

@media (max-width: 635px){

    .semana-calendario{
        font-size: 2vh;
        text-align: left;
        padding: auto;
    }
    .flex-container{
        display: grid;
        width: 100%;
        margin: 0;
        font-size: 4vh;
    }
    .tit-NvoTurno{
        font-size: 4vh;
    }
    input, select, textarea{
        outline: none;
        border: none;
    }
}

@media (max-width: 500px){

    .misTurnos-div{
        width: 100%;
        margin: 0;
    }

    .calendario, .calendario-tit{
        visibility: hidden;
    }

    .flex-container{
        display: grid;
        width: 100%;
        margin: 0;
    }
    option{
        font-size: 2.5vh;
    }
    input, select{
        outline: none;
        border: none;
    }
}