body{
    margin: 0;
    background-color: rgb(241, 235, 235);
    font-family: "Roboto Condensed", sans-serif;
}
/*****HEADER*****/

.navbar {
    border: 1px solid rgb(225, 226, 235);
    padding: 0;
    position: relative;
}

.offcanvas {
    width: 330px !important; /*Para que al abrir el menu en responsive no ocupe todo el ancho*/
}

.logo-clinica {
    width: 150px;
}
/*Fin header y navbar*/

.tit-form-paciente{
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 0;
    font-size: 9vh;
    color: #324851;
}

.form-column {
    flex: 1;
    padding: 0 10px;
}

.form-container{
    display: grid;
}

.registro-medico-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background: #447168;
    border-radius: 8vh;
}

label{
    font-size: 5vh;
    font-weight: 400;
}

.disponibilidad{
    font-size: 4vh; 
}

.summit-registro-medico{
    border-radius: 2VH;
    background-color: #86ac41;
    color: #34675c;
    width:20vh;
    height: 6vh;
    font-size: 3vh;
    display: grid;
    align-items: center;
    text-decoration: none;
    border: none;
    position: absolute;
    margin-left: 30vh;

}

.summit-registro-medico:hover{
    color:rgb(241, 235, 235);
    scale: 1.1;
}