* {
    border: 0;
    padding: 0;
    margin: 0;
}

/*****HEADER*****/

.navbar {
    border: 1px solid rgb(225, 226, 235);
    padding: 0;
    position: relative;
}

.offcanvas {
    width: 330px !important; /*Para que al abrir el menu en responsive no ocupe todo el ancho*/
}

.logo-clinica {
    width: 150px;
}

/*****FIN HEADER*****/

/*****MAIN*****/

.juanMain {
    padding: 10px 0;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Libre Franklin", sans-serif;
    text-align: center;
    gap: 20px;
}

.contenedorWhatsapp {
    background-color: #0df053;
    position: fixed;
    bottom: 20px;
    right: 10px; 
    width: 55px; 
    height: 55px; 
    cursor: pointer; 
    z-index: 1000; 
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.whatsappLogo {
    color: white;
}

.contenedorNosotros {
    display: flex;
    flex-direction: column;
}

.tituloNosotros {
    color: #213857;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
}

.spanTitulo {
    color: #86ac41;
}

.spanSaludo {
    color: rgba(128, 128, 128, 0.827);
}

.descripcionNosotros {
    margin: 10px 0;
    background: #448678;
    padding: 15px 30px;
    color: white;
    font-size: 19px;
    line-height: 1.8;
}

/*****CARDS*****/

.contenedorCards {
    width: 100%;
}

.col-sm-3 {
    width: 80%;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 12px 24px 1px #d4e0ec;
    width: 100%;
    margin: auto;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
}

.card-title {
    font-weight: bold;
}
