body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

.paciente-login {
    background-color: rgb(241, 235, 235);
    color: #7DA3A1;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

.paciente-login h2 {
    color: #86AC41;
}

.paciente-login label,
.paciente-login input[type="text"],
.paciente-login input[type="password"] {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.paciente-login input[type="submit"] {
    background-color: #86AC41;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
;
    transition: transform 0.3s ease;
}

.paciente-login input[type="submit"]:hover {
    transform: scale(1.05);
}